@page
@model EquipmentWatcher.Pages.Models.Interactions.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Interaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Interaction.AccessID" class="control-label"></label>
                <select asp-for="Interaction.AccessID" class ="form-control" asp-items="ViewBag.AccessID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Interaction.Token" class="control-label"></label>
                <input asp-for="Interaction.Token" class="form-control" />
                <span asp-validation-for="Interaction.Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interaction.Timestamp" class="control-label"></label>
                <input asp-for="Interaction.Timestamp" class="form-control" />
                <span asp-validation-for="Interaction.Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interaction.Result" class="control-label"></label>
                <input asp-for="Interaction.Result" class="form-control" />
                <span asp-validation-for="Interaction.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
